h1 {
    color:rgb(0, 180, 150);
}
p {
    color:rgb(0, 217, 255);
}
body {
    background-color: rgb(0, 66, 68);
    margin: 0;
}
html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aqua
}
p {
    font-size: 1rem;
}
.testsbelow {
    font-weight: 900; 
    color: rgb(0, 119, 255);
}

a:visited {
    color: rgb(255, 255, 255)
}

a {
    color: rgb(255, 255, 255);
}
#header {
    background-image: url(https://i.pinimg.com/originals/fa/bd/2c/fabd2c1e276a4f10de2011110f1ec7cc.jpg);
    background-size: cover;
    height: 15rem;
    color:goldenrod;
    font-size: 2rem;
    border-radius: 0 0 1.2em 1.2em;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.navbar {
    background-color: rgb(0, 77, 77);
    display: flex;
    justify-content: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}
.nav-links li a {
    text-decoration: none;
    color: aqua;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: 0.2s
}
.nav-links li a:hover {
    background-color: black;
}
.title {
    text-align: center;
    padding: 1em;
}
.current {
    text-decoration: underline dotted rgb(0, 194, 201);
}

.accordion-header {
    width: 100%;
    background-color: rgb(0, 34, 54);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1em;
    color: rgb(0, 196, 196);
    cursor: pointer;
    transition: 0.5s;
}
.accordion-content {
    display: none;
}
.accordion-header:hover {
    background-color: rgb(0, 44, 80);
}


.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}
.hidden {
    display: none;
}
.blog-entry img {
    border-radius: 0 1.5em 1.5em 0;
}

#enter-password {
    text-align: center;
}
#enter-password input {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: solid 0.15rem rgb(255, 252, 69);
    padding: 0.2em;
    width: 40%;
    background-color: rgb(29, 15, 51);
    color: rgb(255, 252, 69);
}
#enter-password button {
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    border: solid 0.15rem rgb(255, 252, 69);
    width: 7%;
    background-color: rgb(29, 15, 51);
    color: rgb(255, 252, 69);
}
#password-field {
    display: flex;
    justify-content: center;
    gap: 1em;
}